body{
    padding: 0;
    margin: 0;
    background-color: #000;
    background-image: url('../img/drumkitBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}